.iconsDelet{
    right: 20px;
    cursor: pointer;
    &:hover{
        color: rgb(231, 6, 6);
    }
}
.iconsEdit{
    right: 50px;
    cursor: pointer;
    &:hover{
        color: rgb(47, 6, 231);
    }
    
}
